.logo {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.sticky {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100%;
  height: fit-content;
  width: min-content;
}

nav.bottom {
  display: flex;
  justify-content: flex-end;
}
