<section class="sobre-mim">
  <h2>SOBRE</h2>
  <div class="texto">
    <div class="conteudo">
      <p>Sou estudante de Engenharia de Computação e minha jornada acadêmica tem sido uma grande busca pelo conhecimento, adquirindo habilidades sólidas em programação, análise de sistemas e desenvolvimento de software, aplicando e aprimorando meu conhecimento técnico.
      <br>Atualmente, busco um estágio na área de desenvolvimento de software para dar o próximo passo em minha jornada profissional.</p>
      <button class="curriculo hoverable">
        <span class="material-icons">keyboard_double_arrow_right</span>
        CURRÍCULO
      </button>
    </div>
    <img src="imgs/logos/linkedin.svg">
  </div>
</section>
  