<section class="portfolio">
  <h2>PORTFÓLIO</h2>
  <div class="tabela">
    <a href="https://joaoc-restful-api.vercel.app/docs/" target="_blank" class="itens hoverable">
      <h3>API</h3>
      <p>API REST para gerenciar eficientemente produtos, estoques e lojas</p>
      <p><b>STACK:</b> Node.js, Express, PostgreSQL, Vercel, Swagger</p>
    </a>
    <a href="https://joaoc-cms-blog.vercel.app/" target="_blank" class="itens hoverable">
      <h3>CMS</h3>
      <p>Site CMS de notícias diversas</p>
      <p><b>STACK:</b> Express, HTML, Tailwind CSS, MongoDB</p>
    </a>
    <a href="https://github.com/JoaoClaudioSilva" target="_blank" class="github hoverable">
      <img src="imgs/logos/github.svg">
      <button>
        <span class="material-icons">keyboard_double_arrow_right</span>
        MAIS PROJETOS
      </button>
    </a>
  </div>
</section>