button {
  display: flex;
  width: max-content;
  padding: 5px;
  border: 0;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.tabela {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: auto;
  border-radius: 8px;
  text-align: center;
}

@media (max-width: 700px) {
  .github {
    border: none;
  }
  
  .tabela {
    grid-template-columns: 1fr;
  }
}
